@import url(fonts.css);

/* General styles */

:root {
  /* text colors */
  --color-primary: #666d89;
  --color-primary-add: #767e9e;
  --color-tag-hover: #c5c5c5;
  --color-light: #f0d8d9;
  --color-header: #ffffff;
  --color-header-add: #f06c64;
  --color-from: #f48c8f;
  /* bg colors */
  --color-bg-dark: #2d303a;
  --color-bg-dark-shadow: #323645;
  --color-bg-light: #f2f2f2;
  --color-bg-light-shadow: var(--color-header);
  --color-bg-add: var(--color-header-add);
  --color-bg-add-shadow: #ea666b;
  --color-bg-form: #d6564f;
  --color-bg-valid: rgb(51, 70, 51);
  /* other colors */
  --color-style-list: #494e62;
  --color-border: var(--color-primary);
  --color-border-tag: var(--color-primary-add);
  --color-border-tag-hover: var(--color-tag-hover);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lato", Verdana, sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

h2 {
  font-family: "Lato Black", sans-serif;
  font-size: 3rem;
  line-height: 5.8rem;
}

h4 {
  font-family: "Lato Black", sans-serif;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  height: 95px;
  align-items: center;
  padding: 0 40px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.logo {
  height: 16px;
  font-family: 'Lato-Bold', Arial, sans-serif;
  font-size: 25px;
  line-height: 20px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.logo a {
  color: #ffffff;
}

.logo::after {
  content: '*';
  font-size: 24px;
  color: #f06c64;
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 10px;
  color: #fff;
}

.menu__link {
  position: relative;
  font-family: Lato-Bold, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #fff;
}

.menu__link:not(.active)::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  background: #f06c64;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.menu__link:not(.active):hover::after {
  width: 100%;
}

.menu__link.active {
  color: #f06c64;
}

.menu__item:not(:first-child)::before {
  display: inline-block;
  width: 30px;
  content: '·';
  text-align: center;
  color: #494e62;
  transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -ms-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
}

.menu__item:not(:first-child):hover::before {
  color: #f06c64;
}

/* slider */

.slider {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  height: 595px;
}

.slider .container {
  position: relative;
}

.slider__arrows {
  z-index: 999;
}

.arrow-left {
  position: absolute;
  top: 281px;
  left: 21px;
}

.arrow-right {
  position: absolute;
  top: 280px;
  right: 20px;
}

.slider__arrows img {
  opacity: 0.7;
}

.slider__arrows img:hover {
  cursor: pointer;
  opacity: 1;
}

.slider__content {
  position: relative;
  z-index: 998;
}

.iphone-vertical {
  position: absolute;
  top: 53px;
  left: 82px;
}

.iphone-horizontal {
  position: absolute;
  top: 174px;
  right: 81px;
}

/* Section Our Services */

.services {
  background-color: #f2f2f2;
  padding-top: 50px;
  border-bottom: 6px solid #ffffff;
}

.services__title {
  text-transform: capitalize;
  padding-left: 10px;
  padding-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
}

.services__description {
  padding: 0 10px;
  font-family: "Lato Light", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: -0.2px;
  height: 50px;
  overflow: hidden;
}

.services .layout-3-column {
  margin: 54px 0 29px;
}

.service {
  display: flex;
  justify-content: space-between;
  width: 33.333%;
  margin-bottom: 32px;
}

.service__icon {
  margin-bottom: 10px;
  padding: 0 9px;
}

.service__content {
  padding: 0 10px;
}

.service__title {
  text-transform: capitalize;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
}

.services__text {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  line-height: 22px;
  height: 65px;
  overflow: hidden;
  text-align: justify;
}

/* Section Portfolio */

.portfolio {
  background-color: #2d303a;
  padding: 51px 0 56px;
  border-bottom: 6px solid #323746;
}

.portfolio__title {
  padding-left: 10px;
  letter-spacing: 0.2px;
  white-space: nowrap;
  overflow: hidden;
}

.portfolio__description {
  padding: 6px 0 10px 10px;
  font-size: 18px;
  font-family: "Lato Light", sans-serif;
  line-height: 30px;
  text-align: justify;
  letter-spacing: -0.22px;
  overflow: hidden;
}

.portfolio__tags {
  padding: 0 0 10px 10px;
}

.tag {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  line-height: 21px;
  padding: 4px 6px;
  margin-right: 6px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.tag:hover {
  color: #ffffff;
  border-color: #ffffff;
  cursor: pointer;
}

.tag_selected {
  color: #ffffff;
  border-color: #ffffff;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-height: 621px;
  overflow: hidden;
}

.images {
  width: 220px;
  height: 187px;
  margin: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.images img {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.img:hover {
  cursor: pointer;
}

.img:hover img {
  opacity: 0.7;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* Section About Us */

.about-us {
  background-color: #f2f2f2;
  padding: 51px 0 39px;
  border-bottom: 6px solid #ffffff;
}

.about-us__title {
  padding-left: 10px;
  padding-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
}

.about-us__description {
  padding: 0 10px;
  font-size: 18px;
  font-family: "Lato Light", sans-serif;
  line-height: 30px;
  text-align: justify;
  letter-spacing: -0.22px;
  overflow: hidden;
}

.about-us__actors {
  display: flex;
  justify-content: space-between;
  margin: 43px 10px 28px;
}

.about-us__actor {
  width: 300px;
  overflow: hidden;
}

.actor__photo {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.actor__name {
  padding: 18px 0 10px;
  letter-spacing: -0.1px;
  white-space: nowrap;
  overflow: hidden;
}

.actor__description {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  text-align: justify;
  line-height: 21.5px;
  overflow: hidden;
}

.actor__social {
  margin-top: 22px;
  display: flex;
}

.actor__social .social__icon {
  margin: 0 8px 0 0;  
}

/* Section Get a Quote */

.quote {
  padding: 52px 0 13px;
  color: #f0d8d9;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.quote__header {
  margin-bottom: 42px;
}

.quote__title {
  padding-left: 10px;
  padding-bottom: 6px;
  letter-spacing: -0.15px;
  white-space: nowrap;
  overflow: hidden;
}

.quote__description {
  padding: 0 10px;
  font-size: 18px;
  font-family: "Lato Light", sans-serif;
  line-height: 30px;
  text-align: justify;
  letter-spacing: -0.2px;
  overflow: hidden;
}

.quote__content {
  display: flex;
  justify-content: space-between;
}

.form-wrap {
  width: 630px;
}

.quote-form {
  display: flex;
  flex-direction: column;
}

.quote-form__username,
.quote-form__email,
.quote-form__subject,
.quote-form__comment {
  background-color: #d6564f;
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
  font-family: "Lato Light", sans-serif;
  line-height: 38px;
  letter-spacing: 0.2px;
  margin: 0 0 16px 10px;
  padding-left: 15px;
}

.quote-form input::placeholder,
.quote-form textarea::placeholder {
  color: #f48c8f;
}

.quote-form__username:valid,
.quote-form__email:valid {
  background: rgb(69, 209, 110);
}

.quote-form__comment {
  height: 202px;
  resize: none;
}

.quote-form__submit {
  width: 100px;
  background-color: #f0d8d9;
  border-radius: 4px;
  color: #2d303a;
  font-size: 12px;
  font-family: "Lato Light", sans-serif;
  line-height: 38px;
  letter-spacing: 0.2px;
  margin-left: 10px;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.quote-form__submit:hover {
  cursor: pointer;
  background-color: #2d303a;
  color: #f0d8d9;
}

.info {
  width: 310px;
}

.info__title {
  padding: 2px 0 10px;
  font-size: 18px;
  font-family: "Lato Black", sans-serif;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
}

.info__description {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  line-height: 21.56px;
  text-align: justify;
  padding-right: 10px;
  padding-bottom: 23px;
}

.info__contacts {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  line-height: 21.56px;
  letter-spacing: -0.2px;
}

.contacts__map:before {
  content: url(assets/icons/contact-location.png);
  padding: 0 14px 0 3px;
}

.info__contacts a {
  text-decoration: none;
  color: #f0d8d9;
}

.contacts__tel:before {
  content: url(assets/icons/contact-phone.png);
  padding-right: 12px;
}

.contacts__mail:before {
  content: url(assets/icons/contact-mail.png);
  padding-right: 10px;
}

/* footer */

.footer {
  background-color: #2d303a;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
}
.footer__copyright {
  color: #666d89;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  line-height: 21px;
  padding: 5px 0 0 12px;
  letter-spacing: -0.2px;
}

.footer__social {
  display: flex;
  margin-right: 10px;
}

.footer__social .social__icon {
  margin-left: 8px;
}

/* Общие стили для иконок */

.social__icon {
  display: block;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #666d89;
  box-sizing: border-box;
}

.social__icon img {
  height: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  line-height: 100%;
}

.social__icon:hover {
  filter: hue-rotate(100deg);
  -webkit-filter: hue-rotate(100deg);
}
